<Type Name="Context" FullName="Microsoft.JScript.Context">
  <Metadata>
    <Meta Name="ms.openlocfilehash" Value="d94103e4f9b0906ced87b4a34bd79aec58f18e84" />
    <Meta Name="ms.sourcegitcommit" Value="d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b" />
    <Meta Name="ms.translationtype" Value="HT" />
    <Meta Name="ms.contentlocale" Value="ru-RU" />
    <Meta Name="ms.lasthandoff" Value="04/03/2018" />
    <Meta Name="ms.locfileid" Value="30337058" />
  </Metadata>
  <TypeSignature Language="C#" Value="public class Context" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Context extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.JScript.Context" />
  <TypeSignature Language="VB.NET" Value="Public Class Context" />
  <TypeSignature Language="C++ CLI" Value="public ref class Context" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.JScript</AssemblyName>
    <AssemblyVersion>10.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>Представляет исходный код JScript. Этот класс принадлежит к категории состояний компиляции и времени выполнения.</summary>
    <remarks>
      <format type="text/markdown"><![CDATA[  
  
## Remarks  
 Этот класс используется в основном <xref:Microsoft.JScript.JSScanner> и <xref:Microsoft.JScript.JSParser> следует считывать исходный код. Дополнительные сведения см. в разделе [создать компилятор языка для платформы .NET Framework](http://go.microsoft.com/fwlink/?LinkId=110392).  
  
 ]]></format>
    </remarks>
    <forInternalUseOnly />
    <altmember cref="T:Microsoft.JScript.DocumentContext" />
    <altmember cref="T:Microsoft.JScript.AST" />
    <altmember cref="T:Microsoft.JScript.JSToken" />
  </Docs>
  <Members>
    <Member MemberName="EndColumn">
      <MemberSignature Language="C#" Value="public int EndColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает номер столбца в строке, в котором заканчивается этот код. При этом учитывается пробел в начале строки.</summary>
        <value>Номер столбца, в котором заканчивается этот код.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndLine">
      <MemberSignature Language="C#" Value="public int EndLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает номер конечной строки этого кода.</summary>
        <value>Номер конечной строки этого кода.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="EndPosition">
      <MemberSignature Language="C#" Value="public int EndPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 EndPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.EndPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property EndPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int EndPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает позицию в текстовой строке кода, в которой заканчивает этот код, поскольку все строки кода хранятся в одной текстовой строке.</summary>
        <value>Позиция в текстовой строке кода, в которой заканчивается этот код.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetCode">
      <MemberSignature Language="C#" Value="public string GetCode ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance string GetCode() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetCode" />
      <MemberSignature Language="VB.NET" Value="Public Function GetCode () As String" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; System::String ^ GetCode();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Получает код, содержащийся в контексте, отбрасывает все пробелы.</summary>
        <returns>Код, содержащийся в контексте.</returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="GetToken">
      <MemberSignature Language="C#" Value="public Microsoft.JScript.JSToken GetToken ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig instance valuetype Microsoft.JScript.JSToken GetToken() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.JScript.Context.GetToken" />
      <MemberSignature Language="VB.NET" Value="Public Function GetToken () As JSToken" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Microsoft::JScript::JSToken GetToken();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.JScript.JSToken</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>Получает отдельный блок кода или *маркер*, содержащийся в контексте.</summary>
        <returns>Отдельный блок кода или *маркер*, содержащийся в контексте.</returns>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartColumn">
      <MemberSignature Language="C#" Value="public int StartColumn { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartColumn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartColumn" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartColumn As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartColumn { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает номер столбца в строке, в котором начинается этот код. При этом учитывается пробел в начале строки.</summary>
        <value>Номер столбца, в котором начинается этот код.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartLine">
      <MemberSignature Language="C#" Value="public int StartLine { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartLine" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartLine" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartLine As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartLine { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает номер строки, в которой начинается этот код.</summary>
        <value>Номер строки, в которой начинается этот код.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
    <Member MemberName="StartPosition">
      <MemberSignature Language="C#" Value="public int StartPosition { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 StartPosition" />
      <MemberSignature Language="DocId" Value="P:Microsoft.JScript.Context.StartPosition" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property StartPosition As Integer" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property int StartPosition { int get(); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.JScript</AssemblyName>
        <AssemblyVersion>10.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>Получает позицию в текстовой строке кода, с которой начинается этот код, поскольку все строки кода хранятся в одной текстовой строке.</summary>
        <value>Позиция в текстовой строке кода, с которой начинает этот код.</value>
        <remarks>To be added.</remarks>
        <forInternalUseOnly />
        <altmember cref="T:Microsoft.JScript.DocumentContext" />
        <altmember cref="T:Microsoft.JScript.AST" />
        <altmember cref="T:Microsoft.JScript.JSToken" />
        <altmember cref="T:Microsoft.JScript.JSScanner" />
        <altmember cref="T:Microsoft.JScript.JSParser" />
      </Docs>
    </Member>
  </Members>
</Type>