<?xml version="1.0" encoding="utf-8"?>
<xliff xmlns="urn:oasis:names:tc:xliff:document:1.2" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2" xsi:schemaLocation="urn:oasis:names:tc:xliff:document:1.2 xliff-core-1.2-transitional.xsd">
  <file datatype="xml" original="ApplicationContext.xml" source-language="en-US" target-language="ru-RU">
    <header>
      <tool tool-id="mdxliff" tool-name="mdxliff" tool-version="1.0-15c36f0" tool-company="Microsoft" />
      <xliffext:skl_file_name xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">02cd5861-7ce2-4a82-b358-31f8435a0ac5170527b2b9bd8d0b547499e1581bacb86fb5c8bd.skl</xliffext:skl_file_name>
      <xliffext:version xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">1.2</xliffext:version>
      <xliffext:ms.openlocfilehash xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">170527b2b9bd8d0b547499e1581bacb86fb5c8bd</xliffext:ms.openlocfilehash>
      <xliffext:ms.sourcegitcommit xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">d31dc2ede16f6f7bc64e90d9f897ff54c4e3869b</xliffext:ms.sourcegitcommit>
      <xliffext:ms.lasthandoff xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">04/03/2018</xliffext:ms.lasthandoff>
      <xliffext:moniker_ids xmlns:xliffext="urn:microsoft:content:schema:xliffextensions">netframework-4.5.1,netframework-4.5.2,netframework-4.5,netframework-4.6.1,netframework-4.6.2,netframework-4.6,netframework-4.7.1,netframework-4.7</xliffext:moniker_ids>
    </header>
    <body>
      <group id="content" extype="content">
        <trans-unit id="101" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Specifies the contextual information about an application thread.</source>
          <target state="translated">Задает контекстные сведения о потоке приложения.</target>       </trans-unit>
        <trans-unit id="102" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>You can use the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class to redefine the circumstances that cause a message loop to exit.</source>
          <target state="translated">Можно использовать <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> класса для переопределения обстоятельств, вызвавших закрытие цикла обработки сообщений.</target>       </trans-unit>
        <trans-unit id="103" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>By default, the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> listens to the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event on the application's main <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, then exits the thread's message loop.</source>
          <target state="translated">По умолчанию <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> прослушивает <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> событий в приложении главной <ph id="ph3">&lt;xref:System.Windows.Forms.Form&gt;</ph>, завершает цикл обработки сообщений потока.</target>       </trans-unit>
        <trans-unit id="104" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The following code example displays two forms and exits the application when both forms are closed.</source>
          <target state="translated">В следующем примере кода показаны две формы и выход из приложения, когда обе формы закрыты.</target>       </trans-unit>
        <trans-unit id="105" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>When the application starts and exits, the position of each form is remembered.</source>
          <target state="translated">Когда приложение запускается и завершает работу, позиция каждой формы запоминается.</target>       </trans-unit>
        <trans-unit id="106" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>This example demonstrates how to use an <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>, along with the <ph id="ph2">`Application.Run(context)`</ph> method, to display multiple forms when the application starts.</source>
          <target state="translated">В этом примере демонстрируется использование <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>, вместе с <ph id="ph2">`Application.Run(context)`</ph> метод для отображения нескольких форм при запуске приложения.</target>       </trans-unit>
        <trans-unit id="107" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class <ph id="ph1">`MyApplicationContext`</ph> inherits from <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> and keeps track when each form is closed, and exits the current thread when they both are.</source>
          <target state="translated">Класс <ph id="ph1">`MyApplicationContext`</ph> наследует от <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> и отслеживаются при закрытии каждой формы и выходит из текущего потока, если обе они находятся.</target>       </trans-unit>
        <trans-unit id="108" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The class stores the positions of each form for the user.</source>
          <target state="translated">Класс сохраняет позиции каждой формы для пользователя.</target>       </trans-unit>
        <trans-unit id="109" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The form position data is stored in a file titled <ph id="ph1">`Appdata.txt`</ph> that is created in the location determined by <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>.</source>
          <target state="translated">Данные позиции формы сохраняются в файле под названием <ph id="ph1">`Appdata.txt`</ph> , создается в расположении, определяется <ph id="ph2">&lt;xref:System.Windows.Forms.Application.UserAppDataPath%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="110" translate="yes" xml:space="preserve" extradata="MT" uid="T:System.Windows.Forms.ApplicationContext">
          <source>The <ph id="ph1">`Main`</ph> method calls <ph id="ph2">`Application.Run(context)`</ph> to start the application, given the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated"><ph id="ph1">`Main`</ph> Вызовы метода <ph id="ph2">`Application.Run(context)`</ph> для запуска приложения, учитывая <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="111" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class.</source>
          <target state="translated">Инициализирует новый экземпляр класса <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="112" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with no context.</source>
          <target state="translated">Инициализирует новый экземпляр класса <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> без контекста.</target>       </trans-unit>
        <trans-unit id="113" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>The main <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> of the application to use for context.</source>
          <target state="translated">Основная форма <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> приложения, которую необходимо использовать в контексте.</target>       </trans-unit>
        <trans-unit id="114" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>Initializes a new instance of the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> class with the specified <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>.</source>
          <target state="translated">Инициализирует новый экземпляр класса <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> указанным значением <ph id="ph2">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="115" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.#ctor(System.Windows.Forms.Form)">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> is closed.</source>
          <target state="translated">Если <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> — не переопределен, цикл обработки сообщений потока завершается, когда <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.MainForm%2A&gt;</ph> закрыт.</target>       </trans-unit>
        <trans-unit id="116" translate="yes" xml:space="preserve" uid="T:System.Windows.Forms.ApplicationContext">
          <source>Releases the resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">Освобождает ресурсы, используемые объектом <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="117" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Releases all resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</source>
          <target state="translated">Освобождает все ресурсы, занятые модулем <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="118" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> when you are finished using the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated">Вызовите метод <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> по окончании использования класса <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="119" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> method leaves the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> in an unusable state.</source>
          <target state="translated">Метод <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> оставляет класс <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> в непригодном для использования состоянии.</target>       </trans-unit>
        <trans-unit id="120" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>After calling <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>, you must release all references to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> so the garbage collector can reclaim the memory that the <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> was occupying.</source>
          <target state="translated">После вызова метода <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph>, необходимо освободить все ссылки на <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> , сборщик мусора мог освободить память, <ph id="ph3">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> занимаемую.</target>       </trans-unit>
        <trans-unit id="121" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>For more information, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Implementing a Dispose Method<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">Дополнительные сведения см. в разделе <bpt id="p1">[</bpt>очистки неуправляемых ресурсов<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> и <bpt id="p2">[</bpt>метода<ept id="p2">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</target>       </trans-unit>
        <trans-unit id="122" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Always call <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> before you release your last reference to the <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</source>
          <target state="translated">Всегда вызывайте метод <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose&gt;</ph> перед освобождением последней ссылки на класс <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="123" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose">
          <source>Otherwise, the resources it is using will not be freed until the garbage collector calls the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> object's <ph id="ph2">`Finalize`</ph> method.</source>
          <target state="translated">В противном случае используемые им ресурсы не будут освобождены до тех пор, пока сборщик мусора не вызовет для объекта <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> метод <ph id="ph2">`Finalize`</ph>.</target>       </trans-unit>
        <trans-unit id="124" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="true" /&gt;</ph> to release both managed and unmanaged resources; <ph id="ph2">&lt;see langword="false" /&gt;</ph> to release only unmanaged resources.</source>
          <target state="translated">Значение <ph id="ph1">&lt;see langword="true" /&gt;</ph> позволяет освободить как управляемые, так и неуправляемые ресурсы; значение <ph id="ph2">&lt;see langword="false" /&gt;</ph> освобождает только неуправляемые ресурсы.</target>       </trans-unit>
        <trans-unit id="125" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>Releases the unmanaged resources used by the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph> and optionally releases the managed resources.</source>
          <target state="translated">Освобождает неуправляемые ресурсы, используемые объектом <ph id="ph1">&lt;see cref="T:System.Windows.Forms.ApplicationContext" /&gt;</ph>, а при необходимости освобождает также управляемые ресурсы.</target>       </trans-unit>
        <trans-unit id="126" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method is called by the public <ph id="ph1">`Dispose()`</ph> method and the <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> method.</source>
          <target state="translated">Этот метод вызывается методом открытые <ph id="ph1">`Dispose()`</ph> метод и <ph id="ph2">&lt;xref:System.Object.Finalize%2A&gt;</ph> метод.</target>       </trans-unit>
        <trans-unit id="127" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">`Dispose()`</ph> invokes the protected <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> method with the <ph id="ph3">`disposing`</ph> parameter set to <ph id="ph4">`true`</ph>.</source>
          <target state="translated"><ph id="ph1">`Dispose()`</ph> вызывает защищенный <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Dispose%28System.Boolean%29&gt;</ph> метод с <ph id="ph3">`disposing`</ph> равным <ph id="ph4">`true`</ph>.</target>       </trans-unit>
        <trans-unit id="128" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> invokes <ph id="ph2">`Dispose`</ph> with <ph id="ph3">`disposing`</ph> set to <ph id="ph4">`false`</ph>.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Object.Finalize%2A&gt;</ph> вызывает <ph id="ph2">`Dispose`</ph> с <ph id="ph3">`disposing`</ph> значение <ph id="ph4">`false`</ph>.</target>       </trans-unit>
        <trans-unit id="129" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When the <ph id="ph1">`disposing`</ph> parameter is true, this method releases all resources held by any managed objects that this <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> references.</source>
          <target state="translated">При <ph id="ph1">`disposing`</ph> параметр имеет значение true, данный метод освобождает все ресурсы, занятые любыми управляемыми объектами, которые <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> ссылки.</target>       </trans-unit>
        <trans-unit id="130" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>This method invokes the <ph id="ph1">`Dispose()`</ph> method of each referenced object.</source>
          <target state="translated">Этот метод вызывает метод <ph id="ph1">`Dispose()`</ph> каждого объекта, на который есть ссылка.</target>       </trans-unit>
        <trans-unit id="131" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source><ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> can be called multiple times by other objects.</source>
          <target state="translated">Метод <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> может вызываться несколько раз другими объектами.</target>       </trans-unit>
        <trans-unit id="132" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>When overriding <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, be careful not to reference objects that have been previously disposed of in an earlier call to <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph>.</source>
          <target state="translated">При переопределении метода <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph> нужно избегать ссылок на объекты, которые были уничтожены предыдущими вызовами метода <ph id="ph2">&lt;see langword="Dispose" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="133" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about how to implement <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, see <bpt id="p1">[</bpt>Implementing a Dispose Method<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</source>
          <target state="translated">Дополнительные сведения о реализации <ph id="ph1">&lt;see langword="Dispose(Boolean)" /&gt;</ph>, в разделе <bpt id="p1">[</bpt>метода<ept id="p1">](~/docs/standard/garbage-collection/implementing-dispose.md)</ept>.</target>       </trans-unit>
        <trans-unit id="134" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Dispose(System.Boolean)">
          <source>For more information about <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> and <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, see <bpt id="p1">[</bpt>Cleaning Up Unmanaged Resources<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> and <bpt id="p2">[</bpt>Overriding the Finalize Method<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">Дополнительные сведения о <ph id="ph1">&lt;see langword="Dispose" /&gt;</ph> и <ph id="ph2">&lt;see cref="M:System.Object.Finalize" /&gt;</ph>, в разделе <bpt id="p1">[</bpt>очистки неуправляемых ресурсов<ept id="p1">](~/docs/standard/garbage-collection/unmanaged.md)</ept> и <bpt id="p2">[</bpt>переопределение метода Finalize<ept id="p2">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</target>       </trans-unit>
        <trans-unit id="135" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">Завершает цикл обработки сообщений в потоке.</target>       </trans-unit>
        <trans-unit id="136" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">Этот метод вызывает <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="137" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> и <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> сделать фактически не вызывают завершения потока.</target>       </trans-unit>
        <trans-unit id="138" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">Эти методы вызывают <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> события, на которое <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> прослушивается объектом.</target>       </trans-unit>
        <trans-unit id="139" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> Объект затем прерывает выполнение потока.</target>       </trans-unit>
        <trans-unit id="140" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The following code example is an excerpt from the example in the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> class overview.</source>
          <target state="translated">В следующем примере кода показан фрагмент кода из примера в <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> Общие сведения о классе.</target>       </trans-unit>
        <trans-unit id="141" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>This example keeps track of open forms and exits the current thread when all forms are closed.</source>
          <target state="translated">В этом примере хранит открытые формы и выходит из текущего потока, после закрытия всех форм.</target>       </trans-unit>
        <trans-unit id="142" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The <ph id="ph1">`OnFormClosed`</ph> method is an event handler for the <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> event.</source>
          <target state="translated"><ph id="ph1">`OnFormClosed`</ph> Метод является обработчиком событий для <ph id="ph2">&lt;xref:System.Windows.Forms.Form.Closed&gt;</ph> события.</target>       </trans-unit>
        <trans-unit id="143" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>When the number of open forms is equal to 0, then current thread is exited by calling the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> method.</source>
          <target state="translated">Если число открытых форм равно 0, затем текущий поток завершается с помощью вызова <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> метод.</target>       </trans-unit>
        <trans-unit id="144" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>The number of forms is tracked by incrementing the <ph id="ph1">`formCount`</ph> variable when a form is shown, and decrementing it when a form is closed.</source>
          <target state="translated">Число форм отслеживается путем увеличения или уменьшения <ph id="ph1">`formCount`</ph> переменной при отображении формы и уменьшения его при закрытии формы.</target>       </trans-unit>
        <trans-unit id="145" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>Some code is not shown for the purpose of brevity.</source>
          <target state="translated">Часть кода не отображается для краткости изложения.</target>       </trans-unit>
        <trans-unit id="146" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThread">
          <source>See <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> for the whole code listing.</source>
          <target state="translated">В разделе <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> для кода.</target>       </trans-unit>
        <trans-unit id="147" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>Terminates the message loop of the thread.</source>
          <target state="translated">Завершает цикл обработки сообщений в потоке.</target>       </trans-unit>
        <trans-unit id="148" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>This method is called from <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>.</source>
          <target state="translated">Этот метод вызывается из <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="149" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> and <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> do not actually cause the thread to terminate.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThread%2A&gt;</ph> и <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph> сделать фактически не вызывают завершения потока.</target>       </trans-unit>
        <trans-unit id="150" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>These methods raise the <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> event to which the <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> object listens.</source>
          <target state="translated">Эти методы вызывают <ph id="ph1">&lt;xref:System.Windows.Forms.Application.ThreadExit&gt;</ph> события, на которое <ph id="ph2">&lt;xref:System.Windows.Forms.Application&gt;</ph> прослушивается объектом.</target>       </trans-unit>
        <trans-unit id="151" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.ExitThreadCore">
          <source>The <ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> object then terminates the thread.</source>
          <target state="translated"><ph id="ph1">&lt;xref:System.Windows.Forms.Application&gt;</ph> Объект затем прерывает выполнение потока.</target>       </trans-unit>
        <trans-unit id="152" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Attempts to free resources and perform other cleanup operations before the application context is reclaimed by garbage collection.</source>
          <target state="translated">Пытается высвободить ресурсы и выполнить другие операции очистки перед тем, как контекст приложения будет утилизирован во время сборки мусора.</target>       </trans-unit>
        <trans-unit id="153" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>This method overrides <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> and cleans up resources by calling <ph id="ph2">`Dispose(false)`</ph>.</source>
          <target state="translated">Этот метод переопределяет <ph id="ph1">&lt;xref:System.Object.Finalize%2A?displayProperty=nameWithType&gt;</ph> и очищает ресурсы, вызывая метод <ph id="ph2">`Dispose(false)`</ph>.</target>       </trans-unit>
        <trans-unit id="154" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Override <ph id="ph1">`Dispose(Boolean)`</ph> to customize the cleanup.</source>
          <target state="translated">Переопределите метод <ph id="ph1">`Dispose(Boolean)`</ph>, чтобы настроить очистку.</target>       </trans-unit>
        <trans-unit id="155" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>Application code should not call this method; an object's <ph id="ph1">`Finalize`</ph> method is automatically invoked during garbage collection, unless finalization by the garbage collector has been disabled by a call to the <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> method.</source>
          <target state="translated">Код приложения не должен вызывать этот метод; Объект <ph id="ph1">`Finalize`</ph> метод автоматически вызывается во время сборки мусора, если завершение работы сборщика мусора была отключена с помощью вызова <ph id="ph2">&lt;xref:System.GC.SuppressFinalize%2A?displayProperty=nameWithType&gt;</ph> метод.</target>       </trans-unit>
        <trans-unit id="156" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.Finalize">
          <source>For more information, see <bpt id="p1">[</bpt>Finalize Methods and Destructors<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>Cleaning Up Unmanaged Resources<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, and <bpt id="p3">[</bpt>Overriding the Finalize Method<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</source>
          <target state="translated">Дополнительные сведения см. в разделе <bpt id="p1">[</bpt>методы Finalize и деструкторы<ept id="p1">](http://msdn.microsoft.com/library/fd376774-1643-499b-869e-9546a3aeea70)</ept>, <bpt id="p2">[</bpt>очистки неуправляемых ресурсов<ept id="p2">](~/docs/standard/garbage-collection/unmanaged.md)</ept>, и <bpt id="p3">[</bpt>переопределение метода Finalize<ept id="p3">](http://msdn.microsoft.com/library/8026cb68-fe93-43fc-96c1-c09ad7d64cd3)</ept>.</target>       </trans-unit>
        <trans-unit id="157" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>Gets or sets the <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated">Получает или задает <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>, которую необходимо использовать в качестве контекста.</target>       </trans-unit>
        <trans-unit id="158" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>The <ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph> to use as context.</source>
          <target state="translated"><ph id="ph1">&lt;see cref="T:System.Windows.Forms.Form" /&gt;</ph>, которую необходимо использовать в качестве контекста.</target>       </trans-unit>
        <trans-unit id="159" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property determines the main <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> for this context.</source>
          <target state="translated">Это свойство определяет главный <ph id="ph1">&lt;xref:System.Windows.Forms.Form&gt;</ph> для этого контекста.</target>       </trans-unit>
        <trans-unit id="160" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>This property can change at any time.</source>
          <target state="translated">Это свойство можно изменить в любое время.</target>       </trans-unit>
        <trans-unit id="161" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.MainForm">
          <source>If <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> is not overridden, the message loop of the thread terminates when the <ph id="ph2">`mainForm`</ph> parameter closes.</source>
          <target state="translated">Если <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.OnMainFormClosed%2A&gt;</ph> — не переопределен, цикл обработки сообщений потока завершается, когда <ph id="ph2">`mainForm`</ph> закрывает параметра.</target>       </trans-unit>
        <trans-unit id="162" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The object that raised the event.</source>
          <target state="translated">Объект, создавший событие.</target>       </trans-unit>
        <trans-unit id="163" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph> that contains the event data.</source>
          <target state="translated">Объект класса <ph id="ph1">&lt;see cref="T:System.EventArgs" /&gt;</ph>, содержащий данные о событии.</target>       </trans-unit>
        <trans-unit id="164" translate="yes" xml:space="preserve" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>Calls <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph>, which raises the <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph> event.</source>
          <target state="translated">Вызывает <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThreadCore" /&gt;</ph>, который вызывает событие <ph id="ph2">&lt;see cref="E:System.Windows.Forms.ApplicationContext.ThreadExit" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="165" translate="yes" xml:space="preserve" extradata="MT" uid="M:System.Windows.Forms.ApplicationContext.OnMainFormClosed(System.Object,System.EventArgs)">
          <source>The default implementation of this method calls <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</source>
          <target state="translated">Реализация по умолчанию этот метод вызывает <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ExitThreadCore%2A&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="166" translate="yes" xml:space="preserve" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Gets or sets an object that contains data about the control.</source>
          <target state="translated">Получает или задает объект, содержащий данные элемента управления.</target>       </trans-unit>
        <trans-unit id="167" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>An <ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph> that contains data about the control.</source>
          <target state="translated">Объект <ph id="ph1">&lt;see cref="T:System.Object" /&gt;</ph>, содержащий данные элемента управления.</target>       </trans-unit>
        <trans-unit id="168" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>The default is <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</source>
          <target state="translated">Значение по умолчанию: <ph id="ph1">&lt;see langword="null" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="169" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>Any type derived from the <ph id="ph1">&lt;xref:System.Object&gt;</ph> class can be assigned to this property.</source>
          <target state="translated">Тип, производный от <ph id="ph1">&lt;xref:System.Object&gt;</ph> класса можно назначить этому свойству.</target>       </trans-unit>
        <trans-unit id="170" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>If the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is set through the Windows Forms designer, only text can be assigned.</source>
          <target state="translated">Если <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> имеет значение с помощью конструктора Windows Forms, может быть назначен только текст.</target>       </trans-unit>
        <trans-unit id="171" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>A common use for the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property is to store data that is closely associated with the control.</source>
          <target state="translated">Распространенным применением <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> задано для хранения данных, тесно связанных с элементом управления.</target>       </trans-unit>
        <trans-unit id="172" translate="yes" xml:space="preserve" extradata="MT" uid="P:System.Windows.Forms.ApplicationContext.Tag">
          <source>For example, if you have a control that displays information about a customer, you might store a <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> that contains the customer's order history in that control's <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> property so the data can be accessed quickly.</source>
          <target state="translated">Например, если элемент управления, отображающий сведения о клиенте, может хранить <ph id="ph1">&lt;xref:System.Data.DataSet&gt;</ph> , содержащий История заказов клиента элемента управления <ph id="ph2">&lt;xref:System.Windows.Forms.ApplicationContext.Tag%2A&gt;</ph> свойства, можно быстро доступ к данным.</target>       </trans-unit>
        <trans-unit id="173" translate="yes" xml:space="preserve" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Occurs when the message loop of the thread should be terminated, by calling <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>.</source>
          <target state="translated">Происходит, когда необходимо завершить цикл обработки сообщений потока, за счет вызова <ph id="ph1">&lt;see cref="M:System.Windows.Forms.ApplicationContext.ExitThread" /&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="174" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>The following code example demonstrates the use of this member.</source>
          <target state="translated">В следующем примере кода показано применение этого элемента.</target>       </trans-unit>
        <trans-unit id="175" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>In the example, an event handler reports on the occurrence of the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">В примере обработчик событий сообщает при наступлении <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> событий.</target>       </trans-unit>
        <trans-unit id="176" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>This report helps you to learn when the event occurs and can assist you in debugging.</source>
          <target state="translated">Этот отчет позволяет выяснить, когда произошло событие и может оказаться полезным при отладке.</target>       </trans-unit>
        <trans-unit id="177" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To report on multiple events or on events that occur frequently, consider replacing <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> with <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> or appending the message to a multiline <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>.</source>
          <target state="translated">Отчет по несколько событий или события, которые происходят часто, рассмотрите возможность замены <ph id="ph1">&lt;xref:System.Windows.Forms.MessageBox.Show%2A?displayProperty=nameWithType&gt;</ph> с <ph id="ph2">&lt;xref:System.Console.WriteLine%2A?displayProperty=nameWithType&gt;</ph> или добавление сообщения в многострочном <ph id="ph3">&lt;xref:System.Windows.Forms.TextBox&gt;</ph>.</target>       </trans-unit>
        <trans-unit id="178" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>To run the example code, paste it into a project that contains an instance of type <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> named <ph id="ph2">`ApplicationContext1`</ph>.</source>
          <target state="translated">Чтобы запустить пример кода, вставьте его в проект, который содержит экземпляр типа <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext&gt;</ph> с именем <ph id="ph2">`ApplicationContext1`</ph>.</target>       </trans-unit>
        <trans-unit id="179" translate="yes" xml:space="preserve" extradata="MT" uid="E:System.Windows.Forms.ApplicationContext.ThreadExit">
          <source>Then ensure that the event handler is associated with the <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> event.</source>
          <target state="translated">Убедитесь, что обработчик событий связан с <ph id="ph1">&lt;xref:System.Windows.Forms.ApplicationContext.ThreadExit&gt;</ph> событий.</target>       </trans-unit>
      </group>
    </body>
  </file>
</xliff>